.movieslist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}

.movielist > .movie{
    flex: 1 1 30%;
    margin: 10px;
}
.movie{
    margin: 10px;
    margin-left: 80px;
    cursor: pointer;
}
.movie img{
    transition: transform .2s;
    border-radius: 5px;
}
.movie img:hover{
    transform: scale(1.1);
    box-shadow: 100px;
    opacity: 0.8;
    border-radius: 5px;
}