.ipt{
    margin: 20px;
    border-radius: 10px;
    outline: none;
    width: 25%;
    height: 30px;
    border-color: rgb(80, 74, 74);
}
.btn {
    width: 10%;
    height: 30px;
    color: white;
    background-color: rgb(6, 6, 68);
    font-family: sans-serif;
    font: bolder;
    border-radius: 10px;
}